---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Thanks from "../../layouts/Thanks.astro";

export async function getStaticPaths() {
  const posts = await getCollection("thanks");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"thanks">;

const post = Astro.props;
const { Content } = await render(post);
---

<Thanks {...post.data}>
  <Content />
</Thanks>

<div></div>
