---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("Oct 27 2024")}
  heroImage="/portrait.png"
>
  <p>
    Howdie Mickoski is originally from Canada, but now lives in Norway. For the
    last 25 years he has studied ancient wisdom traditions of the world. He
    spent most of his earlier life as a stand up comedian, and writer of sports
    history.
  </p>
</Layout>
