---
import Layout from "../layouts/BlogPost.astro";
import { SITE_TITLE } from "../consts";
---

<Layout
  title={"About " + SITE_TITLE}
  description="Howdie Mickoski is originally from Canada, but now lives in Norway. For the last 25 years he has studied ancient wisdom traditions of the world. He spent most of his earlier life as a stand up comedian, and writer of sports history."
  pubDate={new Date("Oct 27 2024")}
  heroImage="/portrait.png"
>
  <p>
    Howdie Mickoski is originally from Canada, but now lives in Norway. For the
    last 25 years he has studied ancient wisdom traditions of the world. He
    spent most of his earlier life as a stand up comedian, and writer of sports
    history.
    He is now known for his work writing about the nature of reality, simulation theory, Plato's Cave, and Gnostic and cathar concepts replated to the ways of Exiting the Matrix, via the True aspect (Divine Spark) and returning to what the Gnostics referred to as the Pleroma.
    Empty the Cave- Awaken the Spark is his newest book.

  </p>
</Layout>
