---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Books from "../components/Books.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={"Home | " + SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding-bottom: 64px;
      }
      section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .community {
        color: #fff;
        background-color: rgb(var(--gray-dark));
        flex-direction: row;
        padding: 66px;
        gap: 66px;
        flex-wrap: wrap;
        justify-content: center;
      }

      .community h2 {
        color: inherit;
      }

      .community a {
        color: #000;
        width: 224px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-sizing: border-box;
        text-decoration: none;
      }
      .community p {
        max-width: 560px;
      }
      .community a:hover {
        text-decoration: underline;
      }
      .social-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 64px;
        row-gap: 12px;
        padding: 0 64px;
      }
      .social-link {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;

        font-weight: 600;
        font-size: 1em;

        padding: 12px 0 0;
        text-decoration: none;
      }
      .social-link img {
        margin-bottom: 6px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="community">
        <img src="cave.jpg" width="560" alt="Cave" />
        <div>
          <h2>Exit the Cave discussions</h2>
          <p>
            This community is a way to share information and challenges in our
            understanding, as we exit Plato's Cave.
          </p>
          <p>
            You will find new information on the subject, personal stories and
            insights on books and movies around understanding reality.
          </p>

          <br />
          <a href="https://howdiemickoski.locals.com/?showPosts=1"
            >Join My Community</a
          >
        </div>
      </section>
      <Books />
      <section>
        <h2>Video channels</h2>
        <span>@howdiemickoskitalks</span>
        <div class="social-box">
          <a
            href="https://www.youtube.com/channel/UC2H-CUHTboLh8mumJU7HRYg"
            target="_blank"
            class="social-link"
          >
            <img
              src="/youtube_social_icon_red.png"
              alt="YouTube"
              width="48"
              height="48"
            />
            <span>YouTube</span>
          </a>
          <a
            href="https://rumble.com/user/HowdieMickoskiTalks"
            target="_blank"
            class="social-link"
          >
            <img
              src="/Rumble_logo_2022.svg.png"
              alt="Rumble"
              width="124"
              height="48"
            />
            <span>Rumble</span>
          </a>
          <a
            href="https://www.bitchute.com/channel/V39u0EQTyVKX/"
            target="_blank"
            class="social-link"
          >
            <img
              src="/BitChute_Logo.png"
              alt="BitChute"
              width="124"
              height="48"
            />
            <span>Bitchute</span>
          </a>
        </div>
      </section>
    </main>
  </body><Footer />
</html>
