---
const today = new Date();
---

<style>
  footer {
    padding: 2em 1em 2em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>

<footer>
  <div>
    <a href="https://buy.stripe.com/7sIaGd94Pbw29HO3cd">Donate To My Research</a
    > |
    <a href="mailto:egypthowdie@outlook.com">Contact Me</a>
  </div>
  &copy; {today.getFullYear()} Howdie Mickoski. All rights reserved.
</footer>
