---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Books from "../../components/Books.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<html lang="en">
  <head>
    <BaseHead title={"Books | " + SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        max-width: 960px;
        padding: 64px 32px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Books />
    </main>
    <Footer />
  </body>
</html>
